<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Bienvenido
</h1>
<h2 class="subtitle">
 A continuacion se muestran los banners disponibles.
</h2>

<div>
  {%for item in items%}
  <img src='{{imagen_muestra}}' alt="BANNER" style="width: 25%;height: 25%;"/>
  <div style="background-color: brown; margin: 10px;">{{item.contest_name}}</div>
  <div style="background-color: brown; margin: 10px;">{{item.start_date}}</div>
  <div style="background-color: brown; margin: 10px;">{{item.end_date}}</div>
  <div style="background-color: brown; margin: 10px;">{{item.dialog}}</div>
  <div style="background-color: brown; margin: 10px;">{{item.desciption}}</div>
  <a href="/apply/{{item.id_contest}}" class="button is-block is-info is-large is-fullwidth">APLICAR A ESTE BANNER</a>
  <!--{{url_for('main.create_contest')}}-->
  {%endfor%}
</div>

{% endblock %}